@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #1a1a1d;
  color: #f5f5f5;
}

.card_hover:hover {
  box-shadow: 0px 0px 5px rgba(0, 191, 174, 0.7);
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
}
.text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: large;
  animation: rotateAnticlockwiseText linear 15s infinite;
}
@keyframes rotateAnticlockwiseText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text span {
  position: absolute;
  left: 50%;
  top: -20%;
  font-size: 1.2em;
  transform-origin: 0px 140px;
  color: #00bfae;
}
.styleCardText{
  animation: slideUp ease-in 200ms forwards;
}
@keyframes slideUp{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-100px);
  }
}