@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #0B0B0D ;
    color: #FFF1F3;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #0B0B0D;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #0B0B0D;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #0B0B0D;
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: #0B0B0D #0B0B0D;
  }
 
  .swiper-slide-active {
    transform: scale(2); 
    z-index: 10; 
  }
  