@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #FFF0F5;
    color: #000000;
}
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
  