@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #0B0B0D ;
    color: #FFF1F3;
}

::-webkit-scrollbar {
  display: none;
  }
  
  * {
    scrollbar-width: none;
  }
 
  